<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:include="fragments/head :: head" th:remove="tag"/>
		<style>
		.labell {
	margin-right:81%;
}
		</style>
	</head>

<body  th:style="'background-image: url(' + @{/hoceimaaa.jpg} + ')'">
			<section th:include="fragments/header::header" th:remove="tag"></section>
<div style="margin-left: 10%">
			<div class="wrapper wrapper--w680">
				<div class="card card-4">
					<div class="card-body">
						<!-- -
						<p th:text = "${nameSession}"></p>
						<p th:text = "${emailSession}"></p>
						 -->
						<h2 class="title">Ajouter Votre destination:</h2>
						<form th:action="@{/destination/addDestination}"
							  th:object="${destination}" 
							  method="post"
							  enctype="multipart/form-data">
							<div class="row row-space">
								<label class="labell">nom d'endroit </label> <input
									class="input--style-4" type="text" name="nom" th:field="*{nom}">
								<div class="input-group">
									<label class="labell">emplacement</label> <input
										class="input--style-4" type="text" name="emplacement"
										th:field="*{emplacement}" style="height: 100px">
								</div>
								
								<div class="input-group">
									<label class="labell">Ville</label> <input
										class="input--style-4" type="text" name="ville"
										th:field="*{ville}" style="height: 100px">
								</div>
								<div class="input-group">
									<label class="labell">informations </label> <input
										style="height: 100px"
										class="input--style-4" type="textarea" name="details"
										th:field="*{details}">
								</div>

								

								<div class="input-group">
									<label class="labell">Type</label>
									<div class="p-t-10">
										<label class="radio-container m-r-45">Plage <input
											type="radio" checked="checked" name="type" value="plage"
											th:field="*{type}"> <span class="checkmark"></span>
										</label> <label class="radio-container">Hotel <input
											type="radio" name="type" value="hotel" th:field="*{type}">
											<span class="checkmark"></span>
										</label> <label class="radio-container m-r-45">Foret <input
											type="radio" checked="checked" value="foret" name="type"
											th:field="*{type}"> <span class="checkmark"></span>
										</label>
									
									</div>
								</div>
								<div class="input-group">
									<label class="labell">informations </label> 
									<input type="file" name="picture" id="picture"   />
								</div>
							</div>
							<input type="submit" value="Submit" style= "background-color: #008CBA;width: 50%; height: 50px; margin-left: 40%"		/> 		
																		  
							<input type="reset" value="Reset" style= "background-color: #e7e7e7; color: black; width: 50%; height: 50px; margin-left: 40%; margin-top: 10px;" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>