<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:include="fragments/head :: head" th:remove="tag"/>
	</head>

<body>
	<section th:include="fragments/header::header" th:remove="tag"></section>
	
		  <div style="margin-left:20%; margin-top: 10%;">
		  	
			<p style ="text-decoration: underline;">destination Name :</p> <p th:text =${destination.nom}></p>
			<p style ="text-decoration: underline;">destination emplacement  :</p> <p th:text =${destination.emplacement}></p>
			<p style ="text-decoration: underline;">destination details  :</p> <p th:text =${destination.details}></p>
			
			
		  </div>
		
		
</body>
</html>