<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:include="fragments/head :: head" th:remove="tag"/>
		<style>
		.labell {
		margin-right:81%;
		}
		</style>
	</head>

<body  th:style="'background-image: url(' + @{/hoceimaaa.jpg} + ')'">
		<section th:include="fragments/header::header" th:remove="tag"></section>
		<div style="margin-left: 10%">
			<div class="wrapper wrapper--w680">
				<div class="card card-4">
					<div class="card-body">
						<h2 class="title">Registration Form</h2>
						<form th:action="@{/destination/update/} +${destination.id}" name="" method="post" th:object="${destination}">
							<div class="row row-space">
								<label class="labell">nom d'endroit </label> <input
									class="input--style-4" type="text"  th:value="${destination.nom}" th:field="*{nom}" >
								<div class="input-group">
									<label class="labell">emplacement</label> <input
										class="input--style-4" type="text" name="emplacement"
										 th:value="${destination.emplacement}" th:field="*{emplacement}"style="height: 100px">
								</div>
								<div class="input-group">
									<label class="labell">Ville</label> <input
										class="input--style-4" type="text" 
										 th:value="${destination.ville}" th:field="*{ville}">
								</div>

								

								<div class="input-group">
									<label class="labell">Details</label> 
									<input class="input--style-4" 
										   style="height: 100px"
										   type="textarea" 
										   
										   th:value="${destination.details}" th:field="*{details}">
								</div>

								<div class="input-group">
									<label class="labell">Type</label>
									<div class="p-t-10">
										<label class="radio-container m-r-45">Plage <input
											type="radio" checked="checked"  th:value="${destination.type}" th:field="*{type}"
											> <span class="checkmark"></span>
										</label> <label class="radio-container">Hotel <input
											type="radio" th:value="${destination.type}" th:field="*{type}">
											<span class="checkmark"></span>
										</label> <label class="radio-container m-r-45">Foret <input
											type="radio" th:value="${destination.type}" th:field="*{type}"> <span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>
							<input type="submit" value="Submit" style= "background-color: #008CBA;width: 50%; height: 50px; margin-left: 40%"		/> 		
																		  
							<input type="reset" value="Reset" style= "background-color: #e7e7e7; color: black; width: 50%; height: 50px; margin-left: 40%; margin-top: 10px;" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>