<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:include="fragments/head :: head" th:remove="tag"/>
		<style>
		.labell {
		margin-right:81%;
		}
		</style>
	</head>
<body  th:style="'background-image: url(' + @{/hoceimaaa.jpg} + ')'" >
<section th:include="fragments/header::header" th:remove="tag"></section>
	
		<div style="margin-left: 10%">
			<div class="wrapper wrapper--w680">
				<div class="card card-4">
					<div class="card-body">
				<!-- 	<div th:if="${ alertMsg.length() !=0 }">
							<p th:text="${ message }"></p>
							<p>hello</p>
						</div>
 				-->
						<h2 class="title">Modifier votre service d'hebergement</h2>
						<form th:action="@{/update/} +${serviceHebergement.id}" name="" method="post" th:object="${serviceHebergement}">
							<div class="row row-space">
								<label class="labell">nom du service </label> <input
									class="input--style-4" type="text"  th:value="${serviceHebergement.nom}" th:field="*{nom}">
								<div class="input-group">
									<label class="labell">classification</label> <input
										class="input--style-4" type="text"  th:value="${serviceHebergement.classification}" th:field="*{classification}" style="height: 100px">
								</div>

								<div class="input-group">
									<label class="labell">details</label> <input
										class="input--style-4" type="text"  th:value="${serviceHebergement.details}" th:field="*{details}" style="height: 100px">
								</div>
								<div class="input-group">
									<label class="labell">Tarifs </label> <input
										style="height: 100px" class="input--style-4" type="textarea"
										 th:value="${serviceHebergement.tarifs}" th:field="*{tarifs}">
								</div>
								<div class="input-group">
									<label class="labell">Details </label> <input
										style="height: 100px" class="input--style-4" type="textarea"
										 th:value="${serviceHebergement.details}" th:field="*{details}">
								</div>
								<!--  
							<div class="col-md-5">
									<select name="department.departmentId" class="form-contol select" required="required">
											<option value="">Select</option>
											<option th:each="dept : ${destinations}" th:value="${dept.nom}">
												<span th:text="${dept.nom}"></span>
											</option>
									</select>
								</div>
								   
										-->
								<div class="form-row align-items-center">
									<div class="col-auto my-1">
										<label class="mr-sm-2" for="inlineFormCustomSelect">à proximité</label>
										<select class="custom-select mr-sm-2"
											id="inlineFormCustomSelect"
											th:field="*{destination.id}">
											<option selected value="">Choose...</option>
											<option 
												    class="form-contol select" required="required"
												    th:each="destination : ${destinations}" th:value="${destination.id}">
												<span th:text="${destination.nom}" > ></span>
											</option>

										</select>
									</div>
									<div class="input-group">
										<label class="labell">Type</label>
										<div class="p-t-10">
											<label class="radio-container m-r-45">Hotel<input
												type="radio" checked="checked"  th:value="${serviceHebergement.type}" th:field="*{type}"> <span class="checkmark"></span>
											</label> <label class="radio-container">Motel <input
												type="radio" name="type"  th:value="${serviceHebergement.type}" th:field="*{type}">
												<span class="checkmark"></span>
											</label> <label class="radio-container m-r-45">Auberge <input
												type="radio" checked="checked" value="auberge"  th:value="${serviceHebergement.type}" th:field="*{type}"> <span class="checkmark"></span>
											</label>
										</div>
									</div>
								</div>
								<input type="submit" value="Submit"
									style="background-color: #008CBA; width: 50%; height: 50px; margin-left: 40%" />

								<input type="reset" value="Reset"
									style="background-color: #e7e7e7; color: black; width: 50%; height: 50px; margin-left: 40%; margin-top: 10px;" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>